#Pandas 실습


*   실습을 통해 배울 것들
    * 파일 읽어오기: pd.read_csv("경로/파일명.csv")
    * 모양 확인하기: print(데이터.shape)
    * 칼럼 선택하기: 데이터[['칼러명1','칼럼명2','칼럼명3']]
    * 칼럼 이름 출력하기: print(데이터.columns)
    * 맨 위 5개 관측치 풀력하기: 데이터.head()

*   샘플 데이터
    * GitHub link: https://github.com/Jay-Ppark/machine_learning/tree/master/coding_everybody/tensorflow1/csv
    * lemonade: https://raw.githubusercontent.com/Jay-Ppark/machine_learning/master/coding_everybody/tensorflow1/csv/lemonade.csv
    * boston: https://raw.githubusercontent.com/Jay-Ppark/machine_learning/master/coding_everybody/tensorflow1/csv/boston.csv
    * iris: hhttps://raw.githubusercontent.com/Jay-Ppark/machine_learning/master/coding_everybody/tensorflow1/csv/iris.csv

In [8]:
import pandas as pd

In [13]:
#파일로부터 데이터 읽어오기
l_path = 'https://raw.githubusercontent.com/Jay-Ppark/machine_learning/master/coding_everybody/tensorflow1/csv/lemonade.csv'
lemonade = pd.read_csv(l_path)

b_path = 'https://raw.githubusercontent.com/Jay-Ppark/machine_learning/master/coding_everybody/tensorflow1/csv/boston.csv'
boston = pd.read_csv(b_path)

i_path = 'https://raw.githubusercontent.com/Jay-Ppark/machine_learning/master/coding_everybody/tensorflow1/csv/iris.csv'
iris = pd.read_csv(i_path)

In [14]:
#데이터 모양으로 확인하기
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [15]:
#칼럼이름 출력
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [18]:
#독립변수, 종속변수로 분리하기
ind_ldata=lemonade[['온도']]
dep_ldata=lemonade[['판매량']]
print(ind_ldata.shape, dep_ldata.shape)

ind_bdata=boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dep_bdata=boston[['medv']]
print(ind_bdata.shape, dep_bdata.shape)

ind_idata=iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
dep_idata=iris[['품종']]
print(ind_idata.shape, dep_idata.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [21]:
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [23]:
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [24]:
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa